<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">

    <!-- boostrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="css/main.css">

    <title>Medicion de Presión y Glucosa</title>
</head>
<body>
    <div id="registro">
        <div class="container" >
            <div class="">
                <h1>Cliente para tomar presión o nivel de glucosa</h1>

                <a href="/registro.html" class="btn btn-success">Nuevo Cliente</a>

                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <div class="mx-auto" >
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Telefono</th>
                                <th scope="col" class="text-center">Nombre</th>
                                <th scope="col" class="text-center">Apellido</th>
                                <th scope="col" class="text-center">Edad</th>
                                <th scope="col" class="text-center">Sexo</th>
                                <th scope="col" class="text-center">Historial</th>
                                <th scope="col" class="text-center">Accion</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr v-for="cliente in clientes" class="text-center">
                                <td > {{ cliente.Telefono }} </td>
                                <td > {{ cliente.Nombre }} </td>
                                <td > {{ cliente.Apellido }} </td>
                                <td > {{ cliente.FechaNacimiento }} </td>
                                <td > {{ cliente.Sexo }} </td>
                                <td class="text-center">
                                    <button class="btn btn-info"
                                            data-toggle="modal"
                                            data-target="#myModalHistorial"
                                            @click="leerMediciones ( cliente.Telefono )">
                                                Ver
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-success"
                                            data-toggle="modal"
                                            data-target="#myModal"
                                            @click="telefonoCliente = cliente.Telefono ">
                                                Medir
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </table>
                </div>

                <!-- Modal Registro Medicion-->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Datos de las mediciones</h4>
                            </div>
                            <div class="modal-body">
                                <input type="number" class="form-control my-3" v-model="sys" placeholder="Sys">
                                <input type="number" class="form-control my-3" v-model="dia" placeholder="Dia">
                                <input type="number" class="form-control my-3" v-model="pulso" placeholder="Pulso">
                                <input type="number" class="form-control my-3" v-model="glucosa" placeholder="Glucosa">
                                <p>Esta en ayunas?</p>
                                <select class="form-control my-3" v-model="ayunas">
                                    <option value=""></option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                    <input type="hidden" v-model="telefonoCliente">
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button @click="guardarMedicion(telefonoCliente, sys, dia, pulso, glucosa, ayunas)"
                                        :disabled="!todaLaMedicion == true"
                                        id="Medicion"
                                        class="btn btn-info" >
                                            Guardar
                                </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de Historial -->
            <div class="modal fade" id="myModalHistorial" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content" >
                        <div class="modal-header">
                            <h4 class="modal-title">Mediciones Realizadas</h4>
                        </div>
                        <div class="modal-body mx-auto table-responsive" >
                            <table  class="table table-bordered table-hover table-center">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Presión Sistolica</th>
                                    <th scope="col" class="text-center">Presión Diastolica</th>
                                    <th scope="col" class="text-center">Pulso</th>
                                    <th scope="col" class="text-center">Glucosa</th>
                                    <th scope="col" class="text-center">Ayunas?</th>
                                </tr>
                                </thead>
                                <tbody id="tablaHistorial">
                                    <tr v-for="medicion in medicionesCliente" class="text-center">
                                        <td > {{ medicion.fecha }} </td>
                                        <td > {{ medicion.sys }} </td>
                                        <td > {{ medicion.dia }} </td>
                                        <td > {{ medicion.pulso }} </td>
                                        <td > {{ medicion.glucosa }} </td>
                                        <td > {{ medicion.ayunas }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border publicidad mx-auto">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Anuncio-Software -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6164048534137747"
                 data-ad-slot="3435378400"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
        <br>
    </div>


    <!-- boostrap, jquery, popper y vue-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

    <!-- firestore -->
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-firestore.js"></script>

    <!-- Funciones directas de Vue -->
    <script src="js/main.js"></script>

</body>
</html>