<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">

    <!-- boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="css/main.css">

    <title>Medicion de Presión y Glucosa</title>
</head>
<body>
    <registro>
        <div class="jumbotron">

            <h2>Registro Nuevo Cliente</h2>
            <form @submit.prevent="agregarCliente(nombre, apellido, telefono, fechaNacimiento, sexo)"
                  class="form" >
                <input v-model="nombre"
                       placeholder="Nombre" type="text" class="form-control my-3" >
                <input v-model="apellido"
                       placeholder="Apellido" type="text" class="form-control my-3">
                <input v-model="telefono"
                       placeholder="Telefono" type="number" class="form-control my-3" >
                <input v-model="fechaNacimiento"
                       iplaceholder="Fecha Nacimiento" type="date" class="form-control my-3">
                <select v-model="sexo"
                        class="form-control my-3">
                    <option value=""></option>
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
                <button :disabled="!todaLaInfo == true" type="submit" class="btn btn-info pull-rigth" > Guardar </button>
                <a href="index.html" class="btn btn-success pull-rigth" >Regresar</a>
            </form>

        </div>
        <pre>
            {{  $data | json }}
        </pre>
    </registro>


    <!-- boostrap, jquery, popper y vue-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!-- Funciones directas de Vue -->
    <script src="js/main.js"></script>

</body>
</html>