<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0">

    <!-- boostrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Estilos personalizados -->
    <link rel="stylesheet"
          href="css/main.css">

    <title>Medicion de Presión y Glucosa</title>
</head>
<body>
    <div id="registro">
        <div class="jumbotron">

            <h2>Registro Nuevo Cliente</h2>
            <form @submit.prevent="agregarCliente(nombre, apellido, telefono, fechaNacimiento, sexo)"
                  class="form" >
                <input v-model="nombre"
                       placeholder="Nombre" id="Nombre" type="text" class="form-control my-3" >
                <input v-model="apellido"
                       placeholder="Apellido" id="Apellido" type="text" class="form-control my-3">
                <input v-model="telefono"
                       placeholder="Telefono" id="Telefono" type="number" class="form-control my-3" >
                <input v-model="fechaNacimiento"
                       iplaceholder="Fecha Nacimiento" id="FechaNacimiento" type="date" class="form-control my-3">
                <select v-model="sexo"
                        class="form-control my-3" id="Sexo" >
                    <option value=""></option>
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
                <button :disabled="!todaLaInfo == true" type="submit" class="btn btn-info pull-rigth" > Guardar </button>
                <a href="/" class="btn btn-success pull-rigth" >Regresar</a>
            </form>

        </div>
        <div class="border publicidad mx-auto">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Anuncio-Software -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6164048534137747"
                 data-ad-slot="3435378400"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
    </div>



    <!-- boostrap, jquery, popper y vue-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

    <!-- firestore -->
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-firestore.js"></script>

    <!-- Funciones directas de Vue -->
    <script src="js/main.js"></script>

</body>
</html>